<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Cadastro de Alunos</h1>
    </header>



    <nav>
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('adicionar') }}">Adicionar Aluno</a>
        <a href="{{ url_for('estatisticas') }}">Estatísticas</a>
        
        {% if current_user.is_authenticated %}
            <span>Olá, {{ current_user.username }}</span>
            <a href="{{ url_for('logout') }}">Sair</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Sistema Academico • By Ben B | Waste Time - © 2023</p>
    </footer>
</body>
</html>